/* Primary */
$primary-blue: #006495;
$primary-red: #A32428;
$primary-white: #FFFFFF;
$primary-black: #000000;

/* Secondary */
$secondary-navy: #022E47;
$secondary-navy-light: #044469;
$secondary-blue-grey: #ABBECC;
$secondary-blue-grey-light: #D4E2ED;

/* Accent */
$accent-blue-electric: #47CDFF;

/*Border color topics */
$border-gray : #2A3439;

/* Shadows */
$shadow-light: rgba(0, 0, 0, 0.08);
$shadow-medium: rgba(0, 0, 0, 0.50);
$shadow-heavy: rgba(0, 0, 0, 0.08);

$shadow-light-white: rgba(255, 255, 255, 0.08);
$shadow-medium-white:  rgba(255, 255, 255, 0.50);
$shadow-heavy-white:  rgba(255, 255, 255, 0.08);

/* Infima - Light */
$infima-light-primary: #006495;
$infima-light-darkest: #004668;
$infima-light-darker: #00557f;
$infima-light-dark: #005a86;
$infima-light-light: #006ea4;
$infima-light-lighter: #0073ab;
$infima-light-lightest: #007dba;

/* Infima - Dark */
$infima-dark-primary: #0baeff;
$infima-dark-darkest: #008ed5;
$infima-dark-darker: #0097e2;
$infima-dark-dark: #00a0ef;
$infima-dark-light: #26b7ff;
$infima-dark-lighter: #33bbff;
$infima-dark-lightest: #5bc8ff;